html {
  background-color: rgb(248, 220, 225);
  height: 100%;
}

body {
  height: 100%;
  background-image: url ("../images/galaxy.jpg");
  background-size: 60% auto;
}
body {
  border-radius: 10px;
  border: 5px solid #f33e75;
  font-family: "Literata", serif;
}

.header {
  background-color: purple;
}
h1 {
  text-align: center;
  color: #f48db4;

  border: 5px solid #fcdee7;
  border-radius: 30px;
  padding: 20px 20px;
  font-size: 50px;
  box-shadow: 5px 5px 10px rgba(233, 153, 202, 0.877);
  background: radial-gradient(
    328px at 2.9% 15%,
    rgb(191, 224, 251) 0%,
    rgb(232, 233, 251) 25.8%,
    rgb(252, 239, 250) 50.8%,
    rgb(234, 251, 251) 77.6%,
    rgb(240, 251, 244) 100.7%
  );
}

h4 {
  display: block;
  font-size: 1.17em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

h5 {
  display: block;
  font-size: 1.17em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

h6 {
  display: block;
  font-size: 1.17em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

h7 {
  display: block;
  font-size: 1.17em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  padding-bottom: 5px;
  border-radius: 15px;
}

p {
  line-height: 1.5;
  font-size: 20px;

  width: 100%;
}
.description {
  background-color: rgb(191, 224, 251);
  border-radius: 6px;
  padding: 10px 10px;
  box-shadow: 5px 5px 10px rgba(233, 90, 233, 0.3);
  text-align: justify;
}
li {
  list-style: none;

  padding: 5px 10px;
  border-radius: 10px;
  transition: all 200ms ease-in-out;
  max-width: 100%;
  margin: 0 auto;
}

.one {
  text-align: center;
}
.one:hover {
  background: hsl(0, 100%, 85%);
}
.love {
  text-align: center;
}
.two {
  text-align: center;
}
.two:hover {
  background: #f2910a;
}
.beauty {
  text-align: center;
}
.three {
  text-align: center;
}
.three:hover {
  background: #ff0000;
}
.passion {
  text-align: center;
}
.four {
  text-align: center;
}
.four:hover {
  background: #b6e1e0;
}
.intelligence {
  text-align: center;
}
.five {
  text-align: center;
}
.five:hover {
  background: #a1dd70;
}
.courage {
  text-align: center;
}

button {
  display: block;
  margin: 20px auto;
  background: #f48db4;
  color: white;
  font-size: 18px;
  padding: 15px 20px;
  border: none;
  border-radius: 6px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  transition: all 200ms ease-in-out;
}

button:hover {
  opacity: 0.9;
  cursor: pointer;
}

.moon {
  max-width: 600px;
  margin: 0 auto;
  padding: 15px 60px;
}

.learn-more {
  color: rgb(224, 86, 224);
  text-decoration: none;
  font-size: 20px;
  text-align: center;
}

.learn-more:hover {
  text-decoration: underline;
}

.footer {
  text-align: center;
  color: #5c075f;
  text-decoration: none;

  font-size: 14px;
}

.together {
  line-height: 1.5;
  font-size: 15px;
  margin: 20px 0 10px;
  text-align: justify;
  color: rgb(0, 0, 0);
}
